.textsize {
  font-size: 4rem;
  position: absolute;
  top: 40%;
  right: 10%;
}

.ilblock {
  display: inline-block;
}
.block {
  display: block;
}

.flexOff {
  display: none;
}

.delivstatus {
  &-shipped {
    color: rgb(1, 105, 1);
  }
  &-pending {
    color: rgb(170, 170, 0);
  }
}

.colorGrey {
  color: rgb(131, 131, 131);
}

.animationRight {
  animation: moveInRight 1s ease-out;
}
.animationLeft {
  animation: moveInLeft 1s ease-out;
}

.animationTop {
  animation: moveInTop 1s ease-out;
}
